{% if site.mailchimp %}
<section>
	<form class='mailchimp-form' action="{{ site.mailchimp_embed_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" style='margin-bottom:12px;'>
    <h2 style='margin-bottom: 4px;'>{{ site.mailchimp_list_why }}</h2>
		<input type="text" placeholder="Your Email Here" autocomplete="off" name="EMAIL" id="mce-EMAIL">
		<button type="submit" name="subscribe" id="mc-embedded-subscribe">Subscribe</button>
	</form>
</section>
{% endif %}
