---
sidebar: false
---
{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<div style="
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    background: url(/images/desk.jpg) fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
"></div>
<div style="
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: -1;
"></div>
<body id="skrollr-body" {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>
  <header role="banner">{% include header.html %}</header>
  <nav role="navigation">{% include navigation.html %}</nav>
  <div id="main">
    <div id="content" class="fadein">
      {{ content | expand_urls: root_url }}
    </div>
  </div>
</body>
</html>
