<div class='navbar-wrapper' data-0="position:static;box-shadow:none;" data-top-top='position:fixed;top:0;left:0;box-shadow:0px 1px 1px rgba(0,0,0,0.2)'>
  <a href="/">
    <div class="logo" data-0="width:133px;height:133px;" data--200-top-top="width:50px;height:50px;" ><span></span></div>
  </a>
  <div class="intro">
    <h1>Micah Roberson</h1>
    <h2>Developer &amp; Entrepreneur</h2>
    <h4>San Francisco, California</h4>
    <span style='display:none'>By <a href='https://plus.google.com/106721416583632264667' rel='author'>Micah Roberson</a></span>
    <a class='social-media-link' href='https://twitter.com/micahroberson' target='_blank'><i class='icon-twitter'></i></a>
    <a class='social-media-link' href='https://www.github.com/micahroberson' target='_blank'><i class='icon-github'></i></a>
    <a class='social-media-link' href='/atom.xml' target='_blank'><i class='icon-feed'></i></a>
    <a class='social-media-link' href='mailto:micah.roberson@gmail.com' target='_blank'><i class='icon-mail'></i></a>
  </div>
</div>
