{% unless page.no_header %}
  <header>
    {% if index %}
      <h2 class="entry-title" itemprop="name"><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h2>
      {% unless page.meta == false %}
        <p class="meta">
          {% include post/date.html %}
          {% if site.disqus_short_name and page.comments != false and site.disqus_show_comment_count == true %}
           | <a href="{% if index %}{{ root_url }}{{ post.url }}{% endif %}#disqus_thread">Comments</a>
          {% endif %}
        </p>
      {% endunless %}
      <div class="entry-content" itemprop="articleBody">
        {{ content | excerpt }}
        {% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
        {% if excerpted == 'true' %}
          <a href="{{ root_url }}{{ post.url }}" class="more-link">{{ site.excerpt_link }}</a>
        {% endif %}
      </div>
    {% else %}
      <h2 class="entry-title">
        {% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}
        <!-- {% if site.twitter_tweet_button %}
          <span style="float:right;margin-top:2px;">
            <a href="http://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}{{ page.url }}" data-via="{{ site.twitter_user }}" data-counturl="{{ site.url }}{{ page.url }}" >Tweet</a>
          </span>
        {% endif %} -->
      </h2>
      {% unless page.meta == false %}
        <p class="meta">
          {% include post/date.html %}{{ time }}
          {% if site.disqus_short_name and page.comments != false and site.disqus_show_comment_count == true %}
           | <a href="{% if index %}{{ root_url }}{{ post.url }}{% endif %}#disqus_thread">Comments</a>
          {% endif %}
        </p>
      {% endunless %}
    {% endif %}
  </header>
{% endunless %}
{% unless index %}
<div class="entry-content" itemprop="articleBody">{{ content }}</div>
{% endunless %}