<div class='navbar-wrapper {% if page.url != "/index.html" %}shadow{% endif %}'>
  <a href="/">
    <div class="logo"></div>
    <div class="profile"></div>
    <span class="header-name" itemprop="author" itemscope itemtype="http://schema.org/Person">
      <span itemprop="name">Micah Roberson</span>
    </span>
    <span class="header-desc">Programmer & Entrepreneur in San Francisco</span>
  </a>
  <nav>
    <ul>
      <li><a class='social-media-link' href='https://twitter.com/micahroberson' target='_blank'><i class='icon-twitter'></i></a></li>
      <li><a class='social-media-link' href='https://www.github.com/micahroberson' target='_blank'><i class='icon-github'></i></a></li>
      <li><a class='social-media-link' href='/atom.xml' target='_blank'><i class='icon-feed'></i></a></li>
      <li><a class='social-media-link' href='mailto:micah.roberson@gmail.com' target='_blank'><i class='icon-mail'></i></a></li>
    </ul>
  </nav>
  <span style='display:none;'>By <a href='https://plus.google.com/106721416583632264667' rel='author'>Micah Roberson</a></span>
  <!-- <div class='social-links'>
    <a class='social-media-link' href='https://twitter.com/micahroberson' target='_blank'><i class='icon-twitter'></i></a>
    <a class='social-media-link' href='https://www.github.com/micahroberson' target='_blank'><i class='icon-github'></i></a>
    <a class='social-media-link' href='/atom.xml' target='_blank'><i class='icon-feed'></i></a>
    <a class='social-media-link' href='mailto:micah.roberson@gmail.com' target='_blank'><i class='icon-mail'></i></a>
  </div> -->
</div>
