<div class='navbar-wrapper {% if page.url != "/index.html" %}shadow{% endif %}'>
  <a href="/">
    <div class="logo"></div>
    <div class="profile"></div>
    <span class="header-name" itemprop="author" itemscope itemtype="http://schema.org/Person">
      <span itemprop="name">Micah Roberson</span>
    </span>
    <span class="header-desc">Programmer & Entrepreneur in San Francisco</span>
  </a>
  <nav>
    <ul>
      <li class='hide-tablet'><a href='https://doozie.io?utm_source=micahroberson.com&utm_medium=navbar' target='_blank'><img src="/images/doozie_logo.png" style="max-width: 90px; margin-right: 40px; vertical-align: middle;"></a></li>
      <li class='hide-tablet'><a href='https://raddevelopment.io?utm_source=micahroberson.com&utm_medium=navbar' target='_blank'><img src="/images/RAD-logo-white-background.png" style="max-width: 70px;margin-right: 80px;vertical-align: middle;"></a></li>
      <li><a class='social-media-link' href='https://twitter.com/micahroberson' target='_blank'><i class='icon-twitter'></i></a></li>
      <li><a class='social-media-link' href='https://www.github.com/micahroberson' target='_blank'><i class='icon-github'></i></a></li>
      <li><a class='social-media-link' href='/atom.xml' target='_blank'><i class='icon-feed' style='margin-left:3px;'></i></a></li>
    </ul>
  </nav>
  <span style='display:none;'>By <a href='https://plus.google.com/106721416583632264667' rel='author'>Micah Roberson</a></span>
  <!-- <div class='social-links'>
    <a class='social-media-link' href='https://twitter.com/micahroberson' target='_blank'><i class='icon-twitter'></i></a>
    <a class='social-media-link' href='https://www.github.com/micahroberson' target='_blank'><i class='icon-github'></i></a>
    <a class='social-media-link' href='/atom.xml' target='_blank'><i class='icon-feed'></i></a>
    <a class='social-media-link' href='mailto:micah.roberson@gmail.com' target='_blank'><i class='icon-mail'></i></a>
  </div> -->
</div>
