// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

@font-face {
  font-family: 'League Gothic';
  src: url('/fonts/league_ghotic_extended-webfont.eot?') format('eot'),
        url('/fonts/league_ghotic_extended-webfont.woff') format('woff'),
        url('/fonts/league_ghotic_extended-webfont.ttf') format('truetype'),
        url('/fonts/league_ghotic_extended-webfont.svg#webfontJks7As9d') format('svg');
  font-family: 'Novecentowide';
  src: url('/fonts/Novecentowide-Normal-webfont.eot') format('eot'),
        url('/fonts/Novecentowide-Normal-webfont.woff') format('woff'),
        url('/fonts/Novecentowide-Normal-webfont.ttf') format('truetype'),
        url('/fonts/Novecentowide-Normal-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
  font-family: 'Source Sans Pro', 'Novecentowide', Arial, san-serif;
  font-weight: 500;
  /*background: #eee url('/images/noise.png') repeat fixed;*/
  background: transparent;
}

html {
  /*background: url(/images/desk.jpg) fixed center;
  @include background-size(cover);*/
}

body > header h1, body > header  h2, body > header  h3, body > header  h4, h1, h2, h3, h4 {
	font-family: 'Source Sans Pro', 'Novecentowide', Arial, san-serif;
	margin: 0;
	font-weight: 500;
}

#content > h1 {
  font-size: 2em;
  margin-bottom: .5em;
}

body > header h1 {
	font-size: 30px;
	line-height: 36px;
	position: inherit;
	display: block;
}

body header h2 {
	font-size: 24px;
	line-height: 36px;
}

body > header {
	border: 0;
	float: none;
	h4 {
		font-size: 14px;
	}
}

body a {
  text-decoration: none;
}

body i {
  font-style: italic;
}

#content.fadein {
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
}
#content.fadeout {
  animation: fadeout .5s;
  -moz-animation: fadeout .5s; /* Firefox */
  -webkit-animation: fadeout .5s; /* Safari and Chrome */
  -o-animation: fadeout .5s; /* Opera */
  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
}

#content .blog-index article h1 a {
	font-family: 'Source Sans Pro', 'Novecentowide', Arial, san-serif;
	font-size: 24px;
}

/*h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
	color: rgb(255, 143, 0) !important;
}*/

.logo {
	background: transparent url('/images/logo_red_flat.png') no-repeat center center;
  @include background-size(contain);
	height: 133px;
	width: 133px;
	margin: 0 auto;
  display: inline-block;
  position: relative;

  span{
    position: absolute;
    top: 0;
    left: 0;
    width: 133px;
    height: 133px;
    @include border-radius(70px);
    background: transparent url('/images/micah_roberson.jpg') no-repeat 0% 24%;
    @include transition(opacity .5s linear);
    @include background-size(auto);
    opacity: 0;

    &:hover {
      opacity: 1;
    }
  }
}

.intro {
  text-align: center;
  /*margin: 40px auto;*/
  display: inline-block;
  vertical-align: top;
  padding: 20px 26px;
}

.intro ul {
  list-style-type: none;
  text-align: center;
  margin: 20px auto;
}

.intro ul li {
  display: inline;
  line-height: 18px;
}

.intro ul li a {
  text-decoration: none;
  margin: 0 30px;
  color: #474747;
  font-size: 13px;
}

article header p.meta {
  text-transform: none;
  display: inline-block;
}
article header h4.entry-title {
  display: inline-block;
}
article header .entry-title a {
  min-width: 280px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
article.hentry header {
  margin: 0;
  h4 {color: #F64744; max-width: 447px - 56px;}
}

.navbar-wrapper {
  width: 100%;
  text-align: center;
  z-index: 2000;
  padding: 20px 0;
  /*@include box-shadow(0px 1px 1px rgba(0,0,0,0.2));*/
  > a {
    text-decoration: none;
  }
}

.width-50 {
  max-width: 50%;
}

pre {
  width: 100%;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-moz-keyframes fadeout { /* Firefox */
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-webkit-keyframes fadeout { /* Safari and Chrome */
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.social-media-link, .social-media-link:visited {
  color: #676767;
  font-size: .8em;

  &:hover {
    color: #F64744;
  }
}

button {
  @include border-radius(2px);
  background-color: #F64744;
  border: 0;
  padding: 0.85em 1.6em 0.9em;
  margin-top: 2px;
  display: inline-block;
  vertical-align: top;
  color: #fff;
}

input {
  @include border-radius(2px);
  border: 1px solid #676767;
  padding: .8em .8em;
  outline: none;
}

.fixed-footer {
  border: 0;
  margin: 0;
  padding: 2px 8px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: right;
  background-color: rgba(255,255,255,.7);
  @include box-sizing(border-box);

  .social-links {
    span {
      color: #474747;
    }
    
    .twitter-link {
      display: inline;
      float: left;
    }
  }

}

.code .gutter {
  display: none;
}

ul {
  list-style-type: disc;
}

@import 'twilight';

.sidebar {

  form {
    margin-bottom: 1.5em;

    input {
      width: 144px;
    }
  }

  li {
    font-size: 0.7em;
  }

  li a {
    font-size: 1.2em;
  }

}

article header {
  max-width: none;
}

.entry-content a {
  text-decoration: underline;
}

.work-aside {
  ul {
    list-style-type: none;
    margin-left: 0;
    margin-bottom: 0;

    img {
      max-width: 50%;
    }
  }
}
